:root {
  --color-primary: #eb2f64;
  --color-primary-dark: #ba265d;
  --color-primary-light: #ff3366;

  --color-gray-dark-1: #333;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #999;

  --color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #ccc;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-gray-light-2);
}

// Because CSS doesn't allow variable for media queries
// You should use keywords for variable instead of fixed value like `1200px`
// I will keep these for learning purposes!
// Good examples: $bp-largest, $bp-large etc..
$bp-1200px: 75em; // (1200px / 16)
$bp-1100px: 68.75em;
$bp-900px: 56.25em;
$bp-600px: 37.5em;
$bp-500px: 31.25em;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 9px / 16px = 0.5625 = 56.25%

  /* font-size: 10px; */
  font-size: 62.5%;

  @media only screen and (max-width: $bp-1100px) {
    font-size: 50%; // (8px / 16px)
  }
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;

  color: var(--color-gray-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-repeat: no-repeat;
}
